.container {
    position: relative;
    height: 100%;
}

#list__container {
    position: fixed;
    width: 340px;
    height: 100%;
    background-color: rgb(66, 133, 244);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#form {
    position: relative;
    height: 60px;
    padding: 10px 5px;
}

.form__text {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    border: 0;
    outline: 0;
}

.form__filter {
    position: absolute;
    top: 15px;
    right: 10px;
    bottom: 15px;
}

#list {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 340px;
    overflow: hidden;
    z-index: 1;
}

.list__filter {
    position: relative;
    background-color: rgb(66, 133, 244);
    width: 100%;
    margin-bottom: 5px;
}

.list__filter-text {
    padding: 5px;
    font-size: 18px;
    width: 330px;
    height: 48px;
    margin: 5px;
    border-radius: 2px;
}

.list__filter-go {
    position: absolute;
    height: 34px;
    width: 54px;
    top: 12px;
    right: 12px;
}

.list__locations {}

.list__locations__location,
.list__locations__location.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .2s;
}

.list__locations__location.active {
    color: #fff;
    background-color: rgb(66, 133, 244);
    height: 70px;
}

.list__locations__location:hover {
    color: #fff;
    background-color: rgba(66, 133, 244, .8);
}

.list__locations__location:last-child {
    border-bottom: none;
}

.list__locations__address,
.list__locations__formatted_address_container {
    max-width: 100%;
    box-sizing: border-box;
}

.list__locations__formatted_address {
    max-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
}

.info {
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: #fff;
    text-align: center;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 340px;
    height: 100%;
}

.infowindow__text {
    color: darkslateblue;
}

#pano {
    width: 200px;
    height: 200px;
}

#more {
    display: block;
}
