#list {
    position: fixed;
    width: 340px;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 197, 229);
    z-index: 1;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 340px;
    height: 100%;
}
