.container {
    position: relative;
    height: 100%;
}

#list__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 340px;
    background-color: #3390df;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all .5s;
    overflow: hidden;
}

#form {
    position: relative;
    height: 60px;
    padding: 10px;
}

.form__text {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    border: 0;
    outline: 0;
}

.form__filter {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
}

.form__filter_button {
    height: 100%;
}

.list_hide {
    opacity: 0;
    transform: translateX(-100px);
}

#list {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    padding: 0 10px;
    width: 100%;
    overflow: hidden;
}

.list__filter {
    position: relative;
    background-color: #3390df;
    width: 100%;
    margin-bottom: 5px;
}

.list__filter-text {
    padding: 5px;
    font-size: 18px;
    width: 330px;
    height: 48px;
    margin: 5px;
    border-radius: 2px;
}

.list__filter-go {
    position: absolute;
    height: 34px;
    width: 54px;
    top: 12px;
    right: 12px;
}

.list__locations {
    overflow: hidden;
}

.list__locations__location,
.list__locations__location.active {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #fafafa;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .2s;
    z-index: 1;
}

.list__text {
    flex: 1;
    max-width: calc(100% - 48px);
}

.list__locations__location.active {
    color: #fff;
    background-color: #3390df;
    height: 70px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.list__locations__location:hover {
    color: #fff;
    background-color: rgba(66, 133, 244, .8);
}

.list__locations__address,
.list__locations__formatted_address_container {
    max-width: 100%;
    box-sizing: border-box;
}

.list__locations__formatted_address {
    max-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
}

.list__img {
    flex: 0 0 48px;
}

.info {
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.full_page {
    transform: translateX(-340px);
    z-index: 100;
    width: 100%;
}

#nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 340px;
    height: 40px;
    padding: 5px;
    background-color: #3390df;
    transition: .2s all;
}

.nav__toggle {
    width: 30px;
    height: 100%;
    color: #3390df;
}

#map {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 340px;
    transition: .2s all;
}

.infowindow__text {
    color: darkslateblue;
}

#pano {
    width: 200px;
    height: 200px;
    margin: 10px 0;
}

#more {
    display: block;
}

#image {
    position: fixed;
    display: none;
    right: 20px;
    bottom: 20px;
    height: 200px;
    width: 200px;
    z-index: 100;
}

@media screen and (max-width: 400px) {
    #list__container {
        width: 260px;
    }
    #nav,
    #map {
        left: 260px;
    }
    .full_page {
        transform: translateX(-260px);
    }
}
